@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;700&display=swap');

body
 {
   color: black; 
}
h1{
    color:blue;
    text-align: center;
    margin-bottom: 1rem;
}
h2{
    color:blue;
}
h3{
    color:rgb(0, 255, 55);
}
h4{
    color:rgb(0, 110, 255);
}
#lib-header{
    color:rgb(255, 123, 0);
}


:root  {
    --primary-color:blueviolet;
    
}
body{
    font-family: 'Edu NSW ACT Foundation', cursive;
    margin: 0px;
}

/**  link  **/
.link{
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.link-primary  {
   background-color: var(--primary-color);
   border-radius: 0.5rem;
   color:aliceblue
}
.link-secondary  {
    border-color: blue; background-color: white;color: blue;border-radius: 0.5rem;border: 2px solid lightblue;
}
.list-non-bullet{
    list-style: none;
}
.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}
.navigation {
    background-color: var(--primary-color);
   border-radius: 0.5rem;
   color:aliceblue;
   border: 1rem;

}
.nav{
    text-align: center;
}
.navigation .link {
    color:white;
}
.navigation .nav-pills {
    text-align: right;
}
.hero .hero-Naturephotography
{
    max-width: 350px;
    display:block;
    margin:auto;

    font-size: xx-large;
    padding-top:1rem;
    color:  var(grey);
}

.ow {
    background-color: var(--off-white);
}
/** footer **/
.footer {
    background-color: var(--primary-color);
   border-radius: 0.5rem;
   color:aliceblue;
   border-top-right-radius: 1rem;
}
.footer .link {
    color:white;
}
.footer .footer-pills {
    text-align: center;
}
.footer .footer-header {
    font-weight: bold;
    font-size: large;
}
.footer ul{
    padding-inline-start: 0px;
}

.footer{
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.footer{
    text-align: center;
}
.section {
    text-align: center;
}
.h3 .img {
    text-align: center;
}
.container{
    text-align: center;
}
